.IEEE-Logo {
    margin: 0%;
    width: 200px;
}

.header-brand {
    /* font-size: 18px; */
    line-height: normal;
    color: rgb(54, 103, 175);
}

.header-brand:hover {
    color: rgb(54, 103, 175);
    scale: 1.04;

    -webkit-transition: scale 0.2s;
    -moz-transition: scale 0.2s;
    -o-transition: scale 0.2s;
    -ms-transition: scale 0.2s;
    transition: scale 0.2s;
}

.header-text {
    font-size: 20px;
    line-height: normal;
}