{% extends "base.html" %}

{% block title %}Contact us | IEEE EMBS Manipal{% endblock %}

{% block content %}
<div class="container">

    <div class="container">
        <h1 class="display-4">Contact us</h1>

        <ul class="list-unstyled">
            <li><a href="">Follow on
                    Instagram</a></li>
            <li><a href="">Connect
                    on LinkedIn</a></li>
            <li><a href="">Follow on
                    Twitter</a></li>
            <li><a href="">Linktree</a></li>
            <li><a href="">Email us</a></li>
        </ul>
    </div>

</div>
{% endblock %}