{% extends "base.html" %}

{% block title %}Contact us | IEEE EMBS Manipal{% endblock %}

{% block content %}
<div class="container">

    <h1 class="display-4 reveal-on-scroll">Contact us</h1>

    <ul class="list-unstyled">
        {% for social in data.keys() %}
        <li class="reveal-on-scroll">
            <a href="{{ data[social].link }}" target="_blank">
                <i class="{{ data[social].icon }} reveal-on-scroll"
                    style="font-size: 3rem; color: {{ data[social].color }};">
                </i>
            </a>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}