<footer class="footer mt-auto">
    <div class="container text-center">
        <hr>
        <div class="row">
            <div class="col">
                <p>&copy; 2022 IEEE EMBS Manipal</p>
            </div>

            <div class="col">
                <a href="https://github.com/IEEE-EMBS-Manipal/IEEE-EMBS-Manipal.github.io"
                    style="text-decoration: none; color: gray;" target="_blank">
                    <i class="bi-github reveal-on-scroll" style="color: black;"></i>
                    View Source
                </a>
            </div>

        </div>
    </div>
</footer>