<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <h1 class="text-white">IEEE EMBS Manipal</h1>
            </div>
        </div>
    </div>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="{{ url_for('index') }}" class="header-brand navbar-brand d-flex align-items-center">
                <strong>IEEE EMBS Manipal</strong>
            </a>
            <nav class="header-text nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link text-white" href="{{ url_for('pages', page='about') }}">About</a>
                <a class="nav-link text-white" href="{{ url_for('pages', page='domains') }}">Domains</a>
                <a class="nav-link text-white" href="{{ url_for('pages', page='blog') }}">Blog</a>
                <a class="nav-link text-white" href="{{ url_for('pages', page='events') }}">Events</a>
                <a class="nav-link text-white" href="{{ url_for('pages', page='team') }}">Team</a>
                <a class="nav-link text-white" href="{{ url_for('pages', page='contact') }}">Contact us</a>
            </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>