{% extends "base.html" %}

{% block title %}Team | IEEE EMBS Manipal{% endblock %}

{% macro renderPerson(name, designation, image, about) %}
<div class="col-6">
    <div class="card">
        <img src="{{ image }}" class="card-img-top" alt="{{ name }}">
        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ designation }}</h6>
            <p class="card-text">{{ about }}</p>
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}
<div class="container">

    <h1>Team</h1>

    <div class="row">
        <h2>Executives</h2>

        {% for person in data.Executives %}
        {{ renderPerson(person.name, person.designation, person.image, person.about) }}
        {% endfor %}
    </div>

    <div class="row">
        <h2>Board</h2>

        {% for person in data.Board %}
        {{ renderPerson(person.name, person.designation, person.image, person.about) }}
        {% endfor %}
    </div>

    <div class="row">
        <h2>Committee</h2>
    </div>

</div>
{% endblock %}